body{
    background-color: #dfdfdf;
    font-family: sans-serif; 
    font-size: 16px;
}
h2{    
    color: gray;    
    text-align: center;
    font-weight: 300;
}
img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
img:hover{
    transform: scale(1.1);
}
.card{
    width: 30%;
    margin: 30px auto;
    background-color: white;
    padding: 30px;   
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgb(0,0,0, 0.1);  
}
.card input{
    font-size: 12pt;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
    
}
.sexo {
    padding: 10px 0px;
}
.sexo input{
    width: 20px;
    margin: 4px 10px;
    cursor: pointer;
}
.botoes{
    text-align: center;
}
.card button{
    border: none;
    margin-top: 15px;
    padding: 15px;
    color: gray;
    border-radius: 20px;
    border: 1px solid gray;
    font-size: 12pt;
    outline: 0;
    transition: transform 0.1s;
}
.card button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.coporTable{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    
}
thead th{
    color: gray;
}
thead  tr, tbody tr{
    width: 100%;
    border-bottom: 1px solid; 
    
}
tbody td, thead th{
   
    border-bottom: 1px solid ;
    padding: 10px 0px;
    padding-right: 8px;    
    width: 10%;
    text-align: center;
}

.total{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    font-size: 07pt;
    font-family: cursive;
}

