<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio Carros

    </title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div id="app">
        <div class="corpo">
            <header>
                <div id="branco" @mouseover="mouseOver">                    
                </div>
                <div id="vermelho" @mouseover="mouseOver">  
                </div>
                <div id="preto" @mouseover="mouseOver">
                </div>
            </header>
            <main>
                <h1>Selecione a Cor</h1>
                <div class="carros" v-if="branco" value="branco">
                   <img src="img/Up white.png" alt="">
                   <p>Volkswagen Up, 2019 - White</p>
                </div>
                <div class="carros"  v-if="vermelho" value="vermelho">
                    <img src="img/Up red.png" alt="">
                    <p>Volkswagen Up, 2019 - Red</p>
                </div>
                <div class="carros" v-if="preto" value="preto">
                    <img src="img/Up Balck.png" alt="">
                    <p>Volkswagen Up, 2019 - black</p>
                </div>
                <div id="resulte" v-model="mostraTela">
                    
                </div>
            </main>            
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                vermelho : true,
                branco : false,
                preto : false,
                carrosVendido: [
                    {branco:10},
                    {vermelho:10},
                    {preto:10},
                ],
                carroSelecionado:null
            },
            methods:{
                mouseOver: function(event){
                    let cor = event.target.id
                    if(cor=="vermelho"){
                        this.vermelho = true;
                        this.branco = false;
                        this.preto = false;
                        carroSelecionado = cor;
                        this.mostraTela;
                    }
                    else if (cor=="branco"){
                        this.vermelho = false;
                        this.branco = true;
                        this.preto = false;
                        carroSelecionado = cor;
                        this.mostraTela;
                    }
                    else{
                        this.vermelho = false;
                        this.branco = false;
                        this.preto = true;
                        carroSelecionado = cor;
                        this.mostraTela;
                    }
                },
                vender: function(){
                    if(this.carroSelecionado == "vermelho"){
                        this.carrosVendido.vermelho = -1;
                    }else if(this.carroSelecionado == "branco"){
                        this.carrosVendido.branco = -1;
                    }else{
                        this.carrosVendido.preto = -1;
                    }
                },
                mostraTela: `red: ${this.carrosVendido.vermelho}, white: ${this.carrosVendido.braco}, Balck:${this.carrosVendido.preto} <button>Comprar</button>`
                
            }
        })
    </script>
    
</body>
</html>